body {
    background-color: black;
}

div.Head {
    width: 1500px;
    height: 150px;
    border: solid;
    border-color: grey;

}

div.Logo h1  {
   color: white;
   text-align: center;
   position: relative;
   right: 50px;
   top: 10px;
   font-size: 55px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.Button button {
    width: 150px;
    height: 20px;
    float: right;
    position: relative;
    bottom: 80px;
    right: 250px;
    border: solid;
    border-color: gray;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

div.Button1 button{
    width: 150px;
    height: 20px;
    float: right;
    position: relative;
    bottom: 80px;
    left: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: black;
    border-color: solid;
    border-color: gray;   
}

div.bodyhead h1 {
    color: white;
    text-align: center;
    position: relative;
    right: 20px;
    top: 200px;
    font-family: 'Moon Dance';
    text-decoration: underline;
 }

div.bodyofbody {
    width: 1000px;
    height: 1500px;
    position: relative;
    bottom: 60px;
    padding: 70px;
    margin: 150px;
    border: solid;
    border-color: grey;
}

div.img {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 650px;
    bottom: 1000px;
    margin: 150px;
    border: solid;
    border-color: grey; 
}

div.img img {
    width: 200px;
    height: 200px;
}

div.Song1Title h1 {
    color: white;
    text-align: center;
    position: relative;
    left: 180px;
    top: 120px;
    font-family: 'Moon Dance';
    font-size: 25px;
    text-decoration: underline;
}

div.Song1Title h1 span {
    font-size: 15px;
    position: relative;
    top: 20px;
    right: 70px;
    text-decoration: underline;
}

div.bodytext {
    width: 500px;
    height: 450px;
    position: absolute;
    top: 200px;
    left: 350px;
    margin: 150px;
    border: solid;
    border-color: grey; 

}



div.text li {
    color: white;
    font-family: 'Moon Dance';
    text-align: center;
    position: relative;
    right: 40px;
   font-size: 10px;
}

div.text ul {
    color: white;
    font-family: 'Moon Dance';
    text-align: center;
    position: relative;
    right: 40px;
    top: 80px;
}



div.Tracklist ul span {
    color: white;
    font-family: 'Moon Dance';
    text-align: center;
    position: relative;
    right: 10px;
   font-size: 15px;  
   top: 40px;  
   text-decoration: underline;
}

div.Tracklist ul {
    color: white;
    font-family: 'Moon Dance';
    text-align: center;
    position:relative;
    top: 40px;
    right: 30px;
    margin: 5px;
}

div.textbutton button {
    width: 150px;
    height: 20px;
    position: relative;
    top: 100px;
    left: 150px;
    font-family:'Moon Dance' ;
    color: white;
    background-color: black;
    border-color: solid;
    border-color: gray
} 

div.Song2Title h1 {
    color: white;
    text-align: center;
    position: relative;
    left: 180px;
    top: 720px;
    font-family: 'Moon Dance';
    font-size: 25px;
    text-decoration: underline;
}

div.Song2Title h1 span {
    font-size: 15px;
    position: relative;
    top: 20px;
    right: 70px;
    text-decoration: underline;
}

div.bodytext2 {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 800px;
    left: 350px;
    margin: 150px;
    border: solid;
    border-color: grey; 
}

div.img2 {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 500px;
    bottom: 200px;
    margin: 150px;
    border: solid;
    border-color: grey; 
}

div.img2 img {
    width: 200px;
    height: 200px;
}

div.textbutton2 button {
    width: 150px;
    height: 50px;
    position: relative;
    top: 100px;
    left: 150px;
    font-family:'Moon Dance' ;
    color: white;
    background-color: black;
    border-color: solid;
    border-color: gray
} 