body {
    background-color: black;
}

div.Head {
    width: 1500px;
    height: 150px;
    border: solid;
    border-color: grey;

}

div.Logo h1  {
   color: white;
   text-align: center;
   position: relative;
   right: 50px;
   top: 10px;
   font-size: 55px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.Button button {
    width: 150px;
    height: 20px;
    float: right;
    position: relative;
    bottom: 80px;
    right: 250px;
    border: solid;
    border-color: gray;
    background-color:black;
    color: white;
}

div.Button1 button{
    width: 150px;
    height: 20px;
    float: right;
    position: relative;
    bottom: 80px;
    left: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: black;
    border-color: solid;
    border-color: gray;   
}

div.bodyofbody {
    width: 1000px;
    height: 500px;
    position: relative;
    bottom: 60px;
    padding: 70px;
    margin: 150px;
    border: solid;
    border-color: grey;
}

div.bodyhead h1 {
    color: white;
    text-align: center;
    position: relative;
    right: 30px;
    font-size: 35px;
}

div.name {
        color: White;
        position: relative;
        left: 300px;
        top: 50px;
        font-size: 35px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;

}

div.name button {
    width: 280px;
    height: 20px;
    position: relative;
    left: 130px;
    bottom : 78px;
    background-color: black;
    border-color: solid;
    border-color: gray; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.password {
    color: White;
    position: relative;
    left: 290px;
    bottom: 20px;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;

}

div.password button {
    color: white;
    width: 250px;
    height: 20px;
    position: relative;
    left: 170px;
    bottom : 78px;
    background-color: black;
    border-color: solid;
    border-color: gray; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.Submit1 button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: black;
    border-color: solid;
    border-color: gray;
    font-style: italic; 
    width: 250px;
    height: 50px;
    position: relative;
    left: 380px;
    bottom: 20px;
    font-size: 20px;
}